@import 'foundation';
@import 'font-awesome';

body {
  background: #e2ebf3;
}

#hr {
	width: 90;
	margin: 0 auto;
}

li{
	
}

//Layout-----------------
nav {
	width: 100%;

	#layoutNav {
		width: 100%;
		display: inline-block;

		#navLinks {
			margin: 2% 5%;
			li {
				list-style: none;
				display: inline-block;
				margin-right: 5%;
			}
		}
	}
}
