@import 'foundation';
@import 'font-awesome';

//Site Layout ----------------------------
body {
  background: #e2ebf3;
}

#hr {
	width: 90;
	margin: 0 auto;
}

.layoutForm {
	width: 90%;
	margin: 0 auto;
}
.layoutBtns {
	margin-left: 5%;

	button {
		margin-right: 1%;
	}
}

//Layout-----------------
nav {
	width: 100%;

	#layoutNav {
		width: 100%;
		display: inline-block;

		#navLinks {
			margin: 2% 5%;
			li {
				list-style: none;
				display: inline-block;
				margin-right: 5%;
			}
		}
	}
}

//File-Upload Directive
// .fileUploadProgress {
// 	display: inline-block;
// 	width: 40%;
// }
// .fileUploadInput {
// 	display: inline-block;
// 	width: 40%;
// }

//Profile----------------------
.profileWrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 1%;

	.layoutProfile {
		h3 {
			display: inline-block;
			margin: 0 3% 0 0;
		}
		button {
			vertical-align: middle;
			display: inline-block;
			margin: 0;
		}
	}
}
.profileInfo {
	width: 40%;
	h4 {
		line-spacing: 1.5em;
	}
	.profileImg {
		width: 40%;
	}
}

//EditProfile
.layoutEditProfile {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
}
.layoutAvatar {
	width: 80%;
	margin: 0 auto;
	margin-top: .5%;

	#fileUploadControls {
		display: inline-block;
		width: 60%;

		progress {
			width: 90%;
		}
	}
	button {
		display: inline-block;
		vertical-align: top;
	}
}
