@import 'foundation';
@import 'font-awesome';

//Site Layout ----------------------------
body {
  background: #e2ebf3;
}

#hr {
	width: 90;
	margin: 0 auto;
}

.layoutForm {
	width: 90%;
	margin: 0 auto;
}
.layoutBtns {
	margin-left: 5%;

	button {
		margin-right: 1%;
	}
}

//Layout-----------------
nav {
	width: 100%;

	#layoutNav {
		width: 100%;
		display: inline-block;

		#navLinks {
			margin: 2% 5%;
			li {
				list-style: none;
				display: inline-block;
				margin-right: 5%;
			}
		}
	}
}


//Dash-------------------------
#dashBackground {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 900px;
	position: relative;
	-webkit-transition: all 2s ease 2s;
	transition: all 2s ease 2s;
	button {
		position: absolute;
		top: 1%;
		left: 3%;
		opacity: 0;
	}
}
#dashBackground:hover > button {
	opacity: 1;
}

//Edit Dash----------------------
#layoutEditDash {
	width: 80%;
	margin-top: .5%;
	h3 {
		margin-left: 5%;
	}
	#fileUploadControls {
		display: inline-block;
		width: 70%;

		progress {
			width: 85%;
		}
	}
	button {
		display: inline-block;
		vertical-align: top;
	}
}
//Profile----------------------
.profileWrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 1%;

	.layoutProfile {
		h3 {
			display: inline-block;
			margin: 0 3% 0 0;
		}
		button {
			vertical-align: middle;
			display: inline-block;
			margin: 0;
		}
	}
}
.profileInfo {
	width: 40%;
	h4 {
		line-spacing: 1.5em;
	}
	.profileImg {
		width: 40%;
	}
}

//EditProfile
.layoutEditProfile {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
}
.layoutAvatar {
	width: 80%;
	margin: 0 auto;
	margin-top: .5%;

	#fileUploadControls {
		display: inline-block;
		width: 60%;

		progress {
			width: 90%;
		}
	}
	button {
		display: inline-block;
		vertical-align: top;
	}
}
